<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yu.team_project_1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AutoMobile activities -->
        <activity android:name=".Auto_DriveDetailActivity" />
        <activity android:name=".Auto_LightActivity" />
        <activity android:name=".Auto_MainActivity" />
        \

        <!-- House Setting activities -->
        <activity android:name=".YuWang_Garage" />
        <activity android:name=".YuWang_Weather" />
        <activity
            android:name=".YuWang_HouseTemp"
            android:label="@string/title_activity_house_temp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YuWang_ScheduleTimeTemp"
            android:label="@string/schedule" />
        <activity
            android:name=".YuWang_HouseMain"
            android:label="@string/title_activity_house_main" />

        <!-- Living Room activities -->
        <activity
            android:name=".Living_Room"
            android:label="@string/title_activity_living__room"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lighting1"
            android:label="Light1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lighting2"
            android:label="Light2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lighting3"
            android:label="Light3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Shades"
            android:label="Shades"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Television"
            android:label="Televison"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Kitchen activities -->
        <activity
            android:name=".KitchensHelper"
            android:label="@string/carlos_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".K_New_List"
            android:label="@string/carlos_app_name" />
        <activity
            android:name=".K_Shopping"
            android:label="@string/carlos_app_name" />
        <activity android:name=".K_Select_Items" />
        <activity android:name=".K_Download_Flyers" />
        <activity
            android:name=".K_FlyerListActivity"
            android:label="@string/title_flyer_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".K_FlyerDetailActivity"
            android:label="@string/title_flyer_detail"
            android:parentActivityName=".K_FlyerListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yu.team_project_1.K_FlyerListActivity" />
        </activity>
        <activity android:name=".K_Edit_List" />
        <activity android:name=".K_Shopping_List" />
        <activity android:name=".Auto_RadioActivity" />
        <activity android:name=".Auto_OdometerActivity" />
        <activity android:name=".Auto_TempActivity"></activity>
    </application>

</manifest>